* {
    margin: 0px;
    padding: 0px;
}

div {
    background-color: aqua;
    width: 100px;
    height: 100px;
    animation-name: goright;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@keyframes goright {
    0%{
        background-color: blueviolet;
    }
    50%{
        background-color: brown;
    }
    100%{
        background-color: chartreuse;
    }
}